<%-# Hero image as background on homepage -%>

<div class="jumbotron jumbotron-fluid img-responsive">
  <div class="img-responsive">
    </div>
      <div class="hero_text font-weight-bold float-left p-5">Need web help?
      </div>
        <div class="row">
          <div class="header_btn p-5">
            <%= button_to "Find a Project", projects_path, :class => "btn btn-light btn-lg", :method => :get %>
          </div>
            <div class="header_btn p-5">
              <%= button_to "Post a Project", new_project_path, :class => "btn btn-light btn-lg", :method => :get %>
          </div>
        </div>
  </div>
</div>

<%-# How it works section -%>

<div class="row justify-content-center p-3">
  <div class="headertext p-3">
    <h1>How It Works?</h1>
  </div>
</div>
  <div class = "container_fluid">
    <div class="row ml-5 icongroup">
      <div class="col-md-3 sm-2 justify-content-center p-5">
        <div class="icon1">
          <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_signup.png" alt="Sign up" style="width:100%">
            <div class="caption p-3">
              <p>Sign Up</p>
            </div>
        </div>
      </div>
        <div class="col-md-3 sm-2 p-5">
          <div class="icon2">
            <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_buy.png" alt="Easy payment" style="width:100%">
              <div class="caption p-3">
                <p>Easy Payment</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 sm-2 p-5">
          <div class="icon3">
            <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_brief.png" alt="Create project" style="width:100%">
              <div class="caption p-3">
                <p>Create Project</p>
              </div>
          </div>
        </div>
        <div class="col-md-3 sm-2 p-5">
          <div class="icon4">
            <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_complete.png" alt="You're done" style="width:100%">
              <div class="caption p-3">
                <p>You are done!</p>
              </div>
          </div>
        </div>
  </div>
</div>

<%-# Developer and projects section -%>

<div class="row background mt-5">
  <div class="col-md-6 mt-5 p-2 d-flex justify-content-center">
    <div class="card rounded" style="width: 24rem;">
      <img class="card-img-top devtools" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_developer.jpg" alt="Image of developer">
        <section class="card-body">
          <h5 class="card-title p-4 d-flex justify-content-center"><%= link_to 'Meet our Developers', profiles_path %>
          </h5>
        </section>
    </div>
  </div>
  <div class="col-md-6 p-2 mt-5">
    <div class="card" style="width: 24rem;">
      <img class="card-img-top education" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_projects.jpg" alt="Image for projects">
        <div class="card-body">
          <h5 class="card-title p-4 d-flex justify-content-center"><%= link_to "Create a Project", products_path %>
          </h5>
        </div>
    </div>
  </div>
</div>