<div class="container">
  <div class="header">
    <h1 class="text-center">Meet the Developers</h1>
  </div>

  <div class="row">
    <% @devs.each do |dev| %>
      <div class="card col-sm-4 col-md-3 p-4 text-center">
        <%= link_to profile_path(dev) do %>
          <%= image_tag dev.avatar_url, alt: "User Avatar Picture", class:"card-img img-responsive" unless dev.avatar_url.nil? %>
          <div class="card-body">
            <h5 class="card-title"> <td><%= dev.name %></h5>
            <p class="card-text"><%= dev.city %></p>
          </div>
        <% end %>      
      </div>
  <% end %>
  </div>
</div>
