<h1 class="container text-center">Dashboard</h1><br>

<div class="container text-center">
  <div class="col">
    <h2>Open</h2>
    <% @open.each do|project| %>
      <%= project.title %>
    <% end %>

    <h2>In Progress</h2>
    <% @in_progress.each do |project| %>
      <%= project.title %>
    <% end %>

    <h2>Completed</h2>
    <% @completed.each do |project| %>
      <%= project.title %>
    <% end %>
  </div>
</div>

