<!-- Footer -->
<div class="container-fluid" >
    <footer class="container-fluid mt-5 pt-4 bg-secondary" id="footer" >
        <div class="row text-center text-md-left">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h5 class="text-uppercase text-primary">DevMarket</h5>
                <p class="text-primary">Bring together boutique businesses and developers</p>
            </div>

            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li>
                    <%= link_to 'About Us', about_path, class:"text-primary" %>
                    </li>
                    <li>
                    <%= link_to 'Terms of Service', legal_path, class:"text-primary" %>
                    </li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <p class="py-2 text-primary text-center">© 2018 Copyright DevMarket</p>
    </footer>
</div>
  <!-- Footer -->

<%# ASSET CREDITS %>
<%# Ninja Avatar https://www.flaticon.com/free-icon/invisible_1119774 <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> %>
<%# Astronaut Avatar https://www.flaticon.com/free-icon/astronaut_1108294#term=suit%20avatar&page=1&position=22 <div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> %>