/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

 
///// COLORS /////
$primary-color: #29378D; 
$secondary-color: #4169E1;
$primary-bg-color: #F6F7F7;
$secondary-bg-color:#A6ABB3;

 .text-primary {
    color: $primary-color !important; 
 }
 .text-secondary {
    color: $secondary-color !important;   
 }

 .bg-primary {
     background-color: $primary-bg-color !important;
 }
 .bg-secondary {
     background-color: $secondary-bg-color !important;
 }
 .background {
    background-color: grey;
  }

button a, button a:hover {
    color: $primary-bg-color;
}

///// FONTS /////
$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;

#hero_text {
    font-size: 3rem;
    color: #F6F7F7;
  }
  
  @include media-breakpoint-up(sm) {
    #hero_text {
      font-size: 4rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    #hero_text {
      font-size: 6rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    #hero_text {
      font-size: 7rem;
    }
  }

.headertext {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.caption {
    font-family: 'Arial';
    font-size: 20px;
}


 //// Links /////
 a, a:visited {
    padding: 0 10px;
    text-decoration: none !important;
    // color: $primary-color;
}
a:hover {
    padding: 0 10px;
    text-decoration: none !important;
    // color: $secondary-color !important;
}



.hero_text {
    font-size: 100px;
    font-family: 'Arial Bold';
    float: right;
    color: white;
    bottom: 10px;

}

 //// Universal Styling /////
body {
    scroll-behavior: smooth;
    font-family: $body-font;
}

//// Carousel Images /////

.jumbotron {
    background-image: url("https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/Fotolia_204408064_XXL+(1).jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    position: relative;
}

.pic1 {
    height: 100px;
    width: 75px;
}

.pic2 {
    height: 100px;
    width: 75px;
}

.pic3 {
    height: 100px;
    width: 75px;
}

.pic4 {
    height: 100px; 
    width: 75px;
}

#thumb {
 width: 30px;

}

// Developer Dashboard
.header_btn {
 float: left;
}