/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

///// COLORS /////
$primary-color: #29378D; 
$secondary-color: #4169E1;
$primary-bg-color: #F6F7F7;
$secondary-bg-color:#A6ABB3;

 .text-primary {
    color: $primary-color !important; 
 }
 .text-secondary {
    color: $secondary-color !important;   
 }

 .bg-primary {
     background-color: $primary-bg-color !important;
 }
 .bg-secondary {
     background-color: $secondary-bg-color !important;
 }


///// FONTS /////
$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;


 //// Links /////
 a, a:visited {
    padding: 0 10px;
    text-decoration: none !important;
    color: $primary-color;
}


 //// Universal Styling /////
body {
    scroll-behavior: smooth;
    font-family: $body-font;
}

//// Carousel Images /////
.carousel img {
    height: 500px;
}