<div class="jumbotron jumbotron-fluid img-responsive">
  <div class="img-responsive"></div>
  <div class="row">
    <div class="col-sm col-md-9">
      <div class="hero_text font-weight-bold p-5">Need web help?</div>
    </div>
    <div class="col-sm col-md-3">
      <div class="p-5">
        <%= button_to "Find a Project", projects_path, :class => "btn btn-light btn-lg", :method => :get %>
      </div>
      <div class="p-5">
        <%= button_to "Post a Project", new_project_path, :class => "btn btn-light btn-lg", :method => :get %>
      </div>
    </div>
  </div>
  </div>
</div>


<%# Timeline %>
<div class="row justify-content-center p-3">
  <a name="how-it-works"></a>
  <div class = "headertext p-3">
    <h1>How It Works?</h1>
  </div>
</div>

<div class="container_fluid">
  <div class="row icongroup">
    <div class="col-md-3 p-5 d-flex justify-content-around">
      <div class="pic1">
        <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_signup.png" alt="Lights" style="width:100%">
        <div class="caption p-3">
          <p>Sign Up</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-5 d-flex justify-content-around">
      <div class="pic2">
        <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_buy.png" alt="Nature" style="width:100%">
        <div class="caption p-3">
          <p>Easy Payment</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-5 d-flex justify-content-around">
      <div class="pic3">
        <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_brief.png" alt="Fjords" style="width:100%">
        <div class="caption p-3">
          <p>Create Project</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-5 d-flex justify-content-around">
      <div class="pic4">
        <img src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_complete.png" alt="Fjords" style="width:100%">
        <div class="caption p-3">
          <p>You're Done!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row background mt-5 pb-5">
  <div class="col-md-6 mt-5 d-flex justify-content-around">
    <div class="card rounded" style="width: 24rem;">
      <img class="card-img-top" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_developer.jpg" alt="Image of developer">
      <section class="card-body">
        <h5 class="card-title p-4 d-flex justify-content-center"><%= link_to 'Meet our Developers', profiles_path %>
        </h5>
      </section>
    </div>
  </div>
  <div class="col-md-6 mt-5 d-flex justify-content-around">
    <div class="card rounded" style="width: 24rem;">
      <img class="card-img-top" src="https://s3-ap-southeast-2.amazonaws.com/dev-market-auz/home_projects.jpg" alt="Image for projects">
      <section class="card-body">
        <h5 class="card-title p-4 d-flex justify-content-center"><%= link_to "Create a Project", products_path %>
        </h5>
      </section>
    </div>
  </div>
</div>

