<div class="vh-100">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Legal Stuff</h1>
            <p class="lead">Bring together small business and developers.</p>
        </div>
    </div>
</div>